* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: blanchedalmond;
}
header {
    position: relative;
    display: flex;
    justify-content: right;
    background-color: blanchedalmond;
}

header h6 {
    padding: 0 8px 0;
}
.wrap .imgslider {
    position: relative;
    display: flex;
    height: 90vh;
    width: auto;
    flex-direction: row;
    background-color: darkslategray;
}
.imgslider div{
    width: 300%;
}
.slide1{
    background: url(../img/1\ \(3\).png);
    background-size:initial;
    background-position: center;
    background-repeat: no-repeat;
    animation: slides 5s linear infinite;
}
.slide2{
    background: url(../img/1\ \(2\).png);
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
    

}.slide3{
    background: url(../img/1\ \(4\).png);
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
}
@keyframes slides{
    0%,100%{
        .slide1{
            
        }
    }
    33%{
        .slide2{
            transition: all 1s;
            transform: translateY(100vh);
        }
    }
    67%{
        .slide3{
            transition: all 1s;
            transform: translateY(100vh);
        }
    }
}